@import 'about.scss';
@import 'home.scss';
@import 'contacts.scss';
@import 'events.scss';
@import 'reservation.scss';
@import 'rooms.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 100%;
    background-color:  #F8F9FA;
}




